.container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.title {
  margin-bottom: 24px;
  font-family: 'ALS Gorizont Expanded 2.1';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: var(--color-text);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
