.photos-uploaded__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}

.loader {
  height: 216px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
