// .create-project-form {
//   width: 1000px;
//   position: relative;
//   padding: 60px;
// }

// .icon {
//   position: absolute;
//   top: 24px;
//   right: 24px;
//   font-size: 52px;
//   cursor: pointer;
// }

// .title {
//   margin-bottom: 8px;
//   font-family: 'ALS Gorizont Expanded 2.1';
//   font-weight: 500;
//   font-size: 40px;
//   line-height: 120%;
//   color: var(--color-text);
// }

// .text {
//   font-family: 'ALS Hauss';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 130%;
//   color: var(--color-text-gray);
// }

// .form {
//   display: flex;
//   flex-direction: column;
//   gap: 32px;
// }

.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.text {
  margin-top: 24px;
  font-family: 'ALS Hauss';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-text-gray);
}
