.image-block {
  &__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 190px);
    grid-auto-rows: 190px;
    gap: 16px;
    &-item {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: #e6e6e6;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
