// @font-face {
//   font-family: 'ALS Gorizont Bold Expanded 2.1';
//   src: url('../assets/fonts/ALS_Gorizont_Bold\ Expanded_2.1.otf') format('opentype');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ALS Gorizont Medium Expanded 2.1';
//   src: url('../assets/fonts/ALS_Hauss_Medium_1.2.otf') format('opentype');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'ALS Gorizont Regular Expanded 2.1';
//   src: url('../assets/fonts/ALS_Gorizont_Regular\ Expanded_2.1.otf') format('opentype');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'ALS Gorizont Expanded 2.1';
  src: url('../assets/fonts/ALS_Gorizont_Bold\ Expanded_2.1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Gorizont Expanded 2.1';
  src: url('../assets/fonts/ALS_Gorizont_Medium\ Expanded_2.1.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Gorizont Expanded 2.1';
  src: url('../assets/fonts/ALS_Gorizont_Regular\ Expanded_2.1.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'ALS Hauss';
//   src: url('../assets/fonts/ALSHauss-Thin.woff') format('woff');
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ALS Hauss';
//   src: url('../assets/fonts/ALSHauss-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

@font-face {
  font-family: 'ALS Hauss';
  src: url('../assets/fonts/ALS_Hauss_Regular_1.002.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url('../assets/fonts/ALS_Hauss_Medium_1.2.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url('../assets/fonts/ALS_Hauss_Bold_1.002.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

// @font-face {
//   font-family: 'ALS Hauss';
//   src: url('../assets/fonts/ALSHauss-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
// }
