:root {
  // colors
  --color-primary: #036bfd;
  --color-primary-light: #4b89f5;
  --color-secondary: #daeaff;
  --color-bg: #edf6fa;
  --color-bg-gray: #f6f6f6;
  --color-bg-btn-gray: #f0f0f6;
  --color-blue: #8ebdff;
  --color-deep-blue: #002a64;
  --color-light-blue: #f2fbff;
  --color-text: #131313;
  --color-text-gray: #858585;
  --color-white: #ffffff;
  --color-green: #00c974;
  --color-warning: #ff2e00;
  --color-warning1: #ff2f00;
  --color-violet: #7043f3;
  --color-bar: #e8f2ff;

  // fonts
  --font-main: 'ALS Hauss', sans-serif;
  --font-secondary: 'ALS Gorizont Expanded 2.1', sans-serif;
}
