.date-form {
  position: relative;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.input-component {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: 'ALS Hauss';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-text);
  margin-bottom: 8px;
}

.input-field {
  width: 400px;
  height: 56px;
  padding: 16px;
  display: flex;
  align-items: center;
  background: var(--color-white);
  border: 1px solid #c6d2e3;
  cursor: pointer;
}

.input {
  flex: 1;
  font-family: 'ALS Hauss';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-text);
  border: none;
  outline: none;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  font-size: 22px;
  transition: all 0.3s ease-in-out;
}

.icon.up {
  transform: rotateX(180deg);
}

.popup {
  position: absolute;
  left: 0px;
  top: 87px;
  width: 400px;
  background-color: var(--color-white);
  border: 1px solid #c6d2e3;
  overflow-y: scroll;
  z-index: 10;
}

.list-item {
  height: 56px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  cursor: pointer;
  &:hover {
    background-color: var(--color-light-blue);
  }
}

.list-item.active {
  background-color: var(--color-secondary);
}

// .input:focus ~ .popup {
//   display: block;
// }
