.slider-one-container {
  max-height: 248px;
  max-width: 1088px;
  margin: 0 auto;
}

/* .slider-one-slide .slick-list {
  max-width: 1088px;
} */

.slider-one-slide .slick-slide > div {
  margin: 0 6px;
}

/* .slider-one-slide .slick-slide .slick-active .slick-current .slick-image-block {
  outline: 5px solid var(--color-primary);
  outline-offset: -5px;
} */

.slider-one-slide .slick-current .slick-image-block {
  outline: 5px solid var(--color-primary);
  outline-offset: -5px;
}

.slick-image-block {
  height: 216px;
  overflow: hidden;
  margin: 0 auto;
  outline: none;
}

.slick-image-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-one-dots {
  display: block;
  position: absolute;
  bottom: -25px;
  width: 100%;
  /* padding: 0;
  margin: 0;
  list-style: none; */
  text-align: center;
}

.slider-one-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slider-one-dots li button {
  /* font-size: 0;
  line-height: 0; */
  display: block;
  /* padding: 6px; */
  width: 20px;
  height: 20px;
  /* margin: 6px; */
  /* border-radius: 50%; */
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  /* background: #d9d9d9; */
}

.slider-one-dots li button:before {
  color: #d9d9d9;
  content: '•';
  font-size: 30px;
  height: 20px;
  left: 0;
  line-height: 20px;
  /* opacity: 0.25; */
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.slider-one-dots li.slick-active button:before {
  color: var(--color-primary);
}

/* .slider-one .btn-prev {
  height: 40px;
} */

.slick-prev:before,
.slick-next:before {
  content: '';
}
