.slider-one-container {
  max-height: 248px;
  max-width: 1088px;
  margin: 0 auto;
}

.slider-one-slide .slick-slide > div {
  margin: 0 6px;
}

.slider-one-slide .slick-current .slick-image-block {
  outline: 5px solid var(--color-primary);
  outline-offset: -5px;
}

.slick-image-block {
  position: relative;
  height: 216px;
  overflow: hidden;
  margin: 0 auto;
  /* outline: none; */
  outline: 5px solid transparent;
}

.slick-image-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-one-dots {
  display: block;
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center;
}

.slider-one-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slider-one-dots li button {
  position: relative;
  display: block;

  width: 20px;
  height: 20px;

  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
}

.slider-one-dots li button:before {
  color: #d9d9d9;
  content: '•';
  position: absolute;
  font-size: 30px;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 20px;

}

.slider-one-dots li.slick-active button {
  /* width: 30px;
  height: 30px; */
}

.slider-one-dots li.slick-active button:before {
  color: var(--color-primary);
  font-size: 50px;
}

.slick-prev:before,
.slick-next:before {
  content: '';
}

.image-number {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 66px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  background: rgba(19, 19, 19, 0.56);
  font-family: 'ALS Hauss';
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: var(--color-white);
}

