.photos-uploaded {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
  }

  // &__input {
  //   opacity: 0;
  //   height: 0;
  //   width: 0;
  //   line-height: 0;
  //   overflow: hidden;
  //   padding: 0;
  //   margin: 0;
  // }
}
